.pop {
    top: 20px;
    right: 100px;
    position: fixed;
    width: 250px;
    min-height: 50px;
    z-index: 10;
    background: rgb(240, 240, 240);
    font-family: 'Karla';
    font-weight: 600;
    border-radius: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    padding-left: 10px;
    transition: 0.5s;
    
}

.hidden{
    top: 20px;
    position: fixed;
    width: 250px;
    min-height: 50px;
    z-index: 10;
    background: rgb(240, 240, 240);
    font-family: 'Karla';
    font-weight: 600;
    border-radius: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    padding-left: 10px;
    transition: 0.5s;
    right: -500px;
}